/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.users-box{
    display: inline-grid;
    width: 35%;
    height: 20%;
    margin-left: 10%;
}
